/.phpunit.cache
/node_modules

/public/hot
/public/storage
/public/**/app.js
/public/**/app.css
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.save
.htaccess
favicon.ico
favicon.gif
/public/favicon.gif
.tool-versions
.php-cs-fixer.cache
