// Fonts
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
$font-family-base: "Hind Siliguri", sans-serif;

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "@fortawesome/fontawesome-free/css/all.css";

// Tempus Dominus date-time picker
@import "@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css";

//Standard CSS Formats
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,
body {
  background-color: #fff;
  color: black;
  --bs-body-font-family: "Hind Siliguri", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.mt-h4 {
  margin-top: $h4-font-size + $hr-margin-y !important;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 350px;
  opacity: 1;
}

#page-wrap {
  width: 600px;
  margin: 15px auto;
  position: relative;
}

.info_card {
  transition: 1s;
}

.info_card:hover {
  transform: scale(1.05);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  cursor: pointer;
}

.airspace_status:hover {
  background-image: url("/photos/asx_bg.png");
}

.weather_status:hover {
  background-image: url("/photos/atl_weather.png");
}

.news_calendar:hover {
  background-image: url("/photos/atl_newscalendar.png");
}

#teamspeak_logo {
  position: relative;
  top: -10px;
}

#partnerContainer img {
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: auto;
}

#myFooter p {
  margin-bottom: 1em;
}

#myFooter img.vatsim_logo {
  height: 20px;
  width: 59px;
}

#myFooter img.vatusa_logo {
  margin-top: -5px;
  height: 20px;
  width: 86px;
}

.home-modal-bg {
  background: silver !important;
}

.textarea-no-resize {
  resize: none;
}

.view-header {
  background-color: #f0f0f0;
}

.tab-link {
  color: black;
}

.item-black {
  color: black;
}

.bronze {
  color: #c9ae5d;
}

div.bronze-bg {
  background-color: #c9ae5d;
}

.pyrite {
  color: #ffdf00;
}

div.pyrite-bg {
  background-color: #ffdf00;
}

div.hours-danger,
li.hours-danger,
td.hours-danger {
  background-color: #e6b0aa;
}

div.hours-success,
li.hours-success,
td.hours-success {
  background-color: #a9dfbf;
}

.navbar-brand img {
  width: 100px;
}

.switch {
  @extend .mb-3;
}

.form-label-date {
  @extend .form-label;
  @extend .mb-0;
}

.row-mb-3 {
  @extend .row;
  @extend .mb-3;
}

.form-group {
  @extend .mb-3;
}

.nav-item-var-width {
  min-width: 20ch;
}

a {
  text-decoration: none;
}
