// Fonts
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Standard CSS Formats
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,
body {
  background-color: #fff;
  color: black;
  font-family: "Hind+Siliguri", sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 350px;
  opacity: 1;
}

#pill-sidebar a:hover {
  background-color: #428bca;
  color: white;
}

#pill-sidebar a.active {
  background-color: #428bca;
  color: white;
}

#pill-sidebar a {
  color: black;
  font-size: 14px;
  margin-top: 1px;
}

#pill-sidebar p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #606060;
  font-weight: bold;
  font-size: 12px;
}

#page-wrap {
  width: 600px;
  margin: 15px auto;
  position: relative;
}

.info_card {
  transition: 1s;
}

.info_card:hover {
  transform: scale(1.05);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  cursor: pointer;
}

.airspace_status:hover {
  background-image: url("/photos/asx_bg.png");
}

.weather_status:hover {
  background-image: url("/photos/atl_weather.png");
}

.news_calendar:hover {
  background-image: url("/photos/atl_newscalendar.png");
}

#teamspeak_logo {
  position: relative;
  top: -10px;
}

#partnerContainer img {
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: auto;
}

#myFooter p {
  margin-bottom: 1em;
}

#myFooter img.vatsim_logo {
  height: 20px;
  width: 59px;
}

#myFooter img.vatusa_logo {
  margin-top: -5px;
  height: 20px;
  width: 86px;
}

.home-modal-bg {
  background: silver !important;
}

.textarea-no-resize {
  resize: none;
}
