.posDEL {
  background-color: rgb(0, 156, 220);
}

.posGND {
  background-color: rgb(19, 185, 85);
}

.posTWR {
  background-color: rgb(218, 41, 46);
}

.accomplishments a {
  text-decoration: none;
}

.accomplishments div {
  min-height: 500px;
}
