.info-tooltip {
  color: inherit;
}

@media (prefers-color-scheme: light) {
  .tng-received {
    background-color: aqua;
  }
  .tng-given {
    background-color: lightgray;
  }
}

@media (prefers-color-scheme: dark) {
  .tng-received {
    background-color: darken(aqua, 20%);
  }
  .tng-given {
    background-color: darken(lightgray, 40%);
  }
}
