.star-hover {
  color: yellow;
}

.star-input {
  cursor: pointer;
  font-size: 1.75rem;
}

#stars {
  color: gold;
}

#autosaveIndicator {
  font-size: 0.75rem;
}

.ck-content img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.session-suggestion-card:hover {
  background-color: rgba(1, 1, 1, 0.1);
}
