// Colors "borrowed" from SimAware. Thanks!

.posDEL {
  background-color: rgb(0, 156, 220);
}
.posGND {
  background-color: rgb(19, 185, 85);
}
.posTWR {
  background-color: rgb(218, 41, 46);
}
/*.posATIS {
  background-color: rgb(239, 163, 29);
}*/ // ATIS is not collected in the database (as it doesn't count for time)
