[class^="collapsible"] {
  cursor: pointer;
}

.content {
  text-align: left;
  overflow: hidden;
  min-height: 0;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.open {
  transform: rotate(-90deg);
}
