#pill-sidebar a:hover,
#pill-sidebar a.active {
  background-color: #428bca;
  color: white !important;
}

#pill-sidebar button {
  color: #606060;
  font-weight: bold;
  font-size: 12px;
}
#pill-sidebar a.nav-link {
  color: black;
  font-size: 14px;
}

.caret.open {
  transform: rotate(-90deg);
}
