name: build

on:
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string

jobs:
  setup-variables:
    uses: ZTL-ARTCC/Current_Website/.github/workflows/setup-variables.yml@main

  validate:
    runs-on: ubuntu-latest
    needs: setup-variables

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: load/save cache
        uses: actions/cache@v4
        with:
          path: |
              vendor
              node_modules
              /tmp/composer-cache
          key: ${{ runner.os }}-ztl-validate-cached-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/composer.lock') }}-v1
          restore-keys: |
            ${{ runner.os }}-ztl-validate-cached-

      - name: setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ needs.setup-variables.outputs.php-version }}
          extensions: gd,zip

      - name: install php packages
        run: composer install

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ needs.setup-variables.outputs.node-version }}

      - name: update node packages
        run: npm ci
    
      - name: check formatting
        run: npm run format-check; composer format-check

  build:
    runs-on: ubuntu-latest
    needs: [setup-variables, validate]

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: load/save cache
        uses: actions/cache@v4
        with:
          path: |
              vendor
              node_modules
              /tmp/composer-cache
          key: ${{ runner.os }}-ztl-build-cached-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/composer.lock') }}-v1
          restore-keys: |
            ${{ runner.os }}-ztl-build-cached-
          
      - name: setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ needs.setup-variables.outputs.php-version }}
          extensions: gd,zip

      - name: install php packages
        run: composer install --no-dev

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ needs.setup-variables.outputs.node-version }}

      - name: update node packages
        run: npm ci

      - name: build assets
        run: npm run prod

      - name: uninstall node dev dependencies
        run: npm prune --omit=dev

      - name: remove scripts
        run: rm -r scripts

      - name: archive for artifact
        run: |
          touch ${{ inputs.artifact-name }}.tar.gz
          tar --exclude=${{ inputs.artifact-name }}.tar.gz -zcvf ${{ inputs.artifact-name }}.tar.gz .

      - name: create artifact for deploy
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.artifact-name }}
          path: ./${{ inputs.artifact-name }}.tar.gz

